<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'New Slide', new_slide_path, class: 'btn btn-primary btn-lg active', role: 'button', "aria-pressed" => 'true' %>
  </li>
</ul>
