<% content_for :title, @slide.target_script %>
<div class="frame">
  <%= render 'frame' %>
</div>
<nav>
  <%= link_to "All #{@language.title} Slides", language_slides_path(@language), class: 'btn btn-primary', role: 'button' %>
  <%= link_to 'All Languages', root_path, class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% if session[:userinfo] %>
    <%= link_to 'Logout', '/auth/logout', method: :post, class: 'btn btn-secondary', role: 'button', "aria-pressed" => 'true' %>
  <% end %>
</nav>
