<%= link_to language_slides_path language do %>
  <div class="card language">
    <div class="abbreviation"><%= language.abbreviation %></div>
    <div class="card-body">
      <h1 class="card-title language-title"><%= language.title %></h1>
    </div>
  </div>
<% end %>
